// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {min-height: 100vh;}
#app {flex: 1;}

.fake-link {border: none;background: none;color: darken($primary, 25);}
.fake-link:hover {text-decoration: underline;}
